* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    color:antiquewhite;
    background-image:url(bg.jpg);
    background-size:cover;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color:#4b1a90
}

#outerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

.linkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; 
    height: 150px;
    border: 2px solid #4B0082;
    background-color: #E6E6FA; 
    color: #4B0082;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.linkBox:hover {
    background-color: #4B0082;
    color: white;
    transform: scale(1.05);
}