* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url(bg.jpg);
}
#header {
  background-color: black;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  text-align: left;
}

#homeLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
}

h1 {
    text-align: center;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px; 
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin-bottom: 8px;
  font-size: 16px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#col {
  width: 100%;
  padding: 12px;
  background-color: rgb(138, 71, 206);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#col:hover {
  background-color: rgb(92, 15, 170); 
}

#col:active {
  background-color:rgb(64, 0, 128); 
}

input[readonly] {
  background-color: #e6e6e6;
}