* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url(bg.jpg);
}

/*Header*/
#header {
  background-color: black;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  text-align: left;
}


#homeLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
}

#projectTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;;
  color: white;
  background-color: rgb(144, 80, 211);
}

/*Input*/
#inputdiv {
    float: left;
    width: 39%;
    text-align: center;
    background-color:rgb(255, 243, 227);
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
color: white;
height: 30px;
background-color: rgb(144, 80, 211);
  font-size: 20px;
  font-weight: bold;
}

/*Payroll Table*/
#payrolldiv {
    width: 60%; 
    margin: 0 auto;
    overflow-x: auto;
    background-color:  rgb(255, 243, 227);
}

#payrollTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#payrollTable td, #payrollTable th {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: white;
}

#payrollTable th {
    background-color: #f2f2f2;
}

#payrollTable td {
    text-overflow: ellipsis;
    overflow: hidden;
}

#payrollTable td:nth-child(2) {
    width: 30%;
    white-space: nowrap;
}

#payrollTable td:nth-child(3),
#payrollTable td:nth-child(4),
#payrollTable td:nth-child(5),
#payrollTable td:nth-child(6),
#payrollTable td:nth-child(7) {
    width: auto;
}

#payrollTable th, #payrollTable td {
    text-align: center;
}

#tableHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(144, 80, 211);
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}